<!--Title div-->
<div class="parallax-container blur">

    <!--Parallax image-->
    <div class="parallax "><img src="img/lib4.jpg"></div>

    <!--Main title-->
    <div id="main" class="wrapper valign-wrapper">

        <!--Main-->
        <div ng-hide="processing" class="container">

            <!--Logo-->
            <div class="row">
                <div class="col center s12">
                    <h1 class="white-text title">SESMA-Tools</h1>
                    <p class="subtitle white-text">
                        Semantic Sentence Analysis Tools
                    </p>
                    <div class="col s4 offset-s4 center">
                        <div class="divider"></div>
                    </div>

                </div>
            </div>

            <!--Buttons-->
            <div class=" row valign">
                <div class="col s12 center">
                    <a href="https://tec.citius.usc.es/SimTerm/" class="btn-large waves-effect waves-light blue-grey" data-target="processModal"> SimTerm </a>
                </div>
            </div>
            <div class=" row valign">
                <div class="col s12 center">
                    <a class="btn-large waves-effect waves-light blue-grey" data-target="processModal">
                        Vicleo </a>
                </div>
            </div>
            <div class=" row valign">
                <div class="col s12 center">
                    <a href="https://tec.citius.usc.es/SenSiMet/#/upload" class="btn-large waves-effect waves-light blue-grey" data-target="processModal">
                        SenSiMet </a>
                </div>
            </div>
        </div>
    </div>

</div>






